.navbar {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  margin: 0;
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
overflow: hidden;
z-index: 10000;
align-items: start;
}
.navbar ul {
  grid-area: 1 / 2 / 2 / 6;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: right;
  margin-right: 20px;
}
.navbar ul li {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin: 10.5px 10px;
  line-height: 30px;
}
.navbar ul li div {
  color: var(--le-navbar-color);
  text-decoration: none;
  transition: 350ms;
  font-size: 15px;
  cursor: pointer;
}
.navbar ul li div svg {
  height: 1em;
}
.brandmark {
  grid-area: 1 / 1 / 2 / 2;
  fill: #fff;
  margin-top: 2.5px;
  margin-left: 5px;
  transform: scale(0.8);
}
.brandmark:hover {

}
.navlink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  color: #5E6A75;
  font-weight: 100;
}

.navlink:hover {
  color: #ff0606;
}

