.navbar {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100px;
  margin: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.navbar ul li {
  margin: 10px;
  height: 45px;
  align-items: center;
}
.navbar ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.navbar ul li div svg {
  height: 1em;
}
.brandmark {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.brandmark:hover {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ff0606;
}
.navlink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  color: #5E6A75;
  font-weight: 700;
}

.navlink:hover {
  color: #ff0606;
  transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.navbar::-webkit-scrollbar-thumb {
  background: rgb(186,187,191);
  border-radius: 0px;
}
.navbar::-webkit-scrollbar {
  width: 5px;
  transition: 0.5s;
}

