.container {
    margin-top: 20px;
    width: 800px;

}
.project {
    display: block;
    padding: 10px 30px;
    margin-top: 20px;
    width: 100%;
    border: 1.1px solid #eaeaea;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    backdrop-filter: blur(8px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px 0px;
    gap: 0px 0px;
    grid-template-areas: "brandmark textblock textblock textblock";
    align-items: center;
    justify-content:center;
}
.description {
    font-size: 14px;
    font-weight: 200;
    width: 90%;
    text-align: left;
}
.brandmark {
    float: left;
    height: 90px;
    width: 90px;
    grid-area: brandmark;
    display: grid;
    align-items: center;
    justify-content:center;
    font-size: 24px;
}
.textblock {
    grid-area: textblock;
}
.project:hover {
    transform: scale(1.1);
    border: solid 1.1px #ff0606;
    color: #ff0606;
}
.language::before {
    content: "Developed with: ";
    color: #fff;
}
.language {
    display: contents;
    width: auto;
}
.language svg {
    color: #fff;
    margin: 0px 8px;
    font-size: 18px;
    width: .875em;
}
.language svg:hover {
    color: #fff;
}